@import url(https://fonts.googleapis.com/css?family=Montserrat|Six+Caps);

body {
    margin-bottom: 30px;
}

h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 70px;
}

h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 50px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    border-radius: 0;
    font-size: 18px;
    background: #895881;
    font-family: 'Montserrat', sans-serif;
}

.navbar-inverse{
    border-color: #895881;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline;
}

.list-group-item>.badge{
    float: left;
    margin-right: 20px;
    font-size: 12px;
    background-color: #6ac9cd;
    width: 20px;
    padding: 5px 5px;
    border-radius: 20px;
}

.list-group-item{
    padding: 20px;
}

.list-group-item-heading{
    display: inline-block;
}

.icons{
    padding: 10px 0;
}

.delete, .edit{
    float: right;
    font-size: 18px;
    margin-right: 10px;
}

.check{
    float: left;
    margin-right: 60px;
    font-size: 18px;
}

.plus{
    margin: 20px auto;
    float: none;
    width: 60px;
    padding: 8px 47px 8px 15px;
    vertical-align: middle;
    background-color: #6ac9cd;
    border-radius: 50px;
    color: #ffffff;
    font-size: 40px;
}

.plus a{
    color: #ffffff;
}

.plus a:hover, .plus a:active{
    text-decoration: none;
    color: #895881;
}

#errorAlert {
    display:none;
}

#cancel{
    background: #ffffff;
    color: #6ac9cd;
    margin: 0 15px;
}

.btn-default{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: #6ac9cd;
}

.btn-default:hover{
    color: #a789a2;
}

a, a:hover {
    color: #f36d38;
}

.panel{
  margin-bottom: 0;
  margin-top: 20px;
}
