@import url(https://fonts.googleapis.com/css?family=Montserrat|Handlee);

body {
    margin-bottom: 30px;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Handlee', cursive;
    font-size: 40px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    border-radius: 0;
    font-size: 16px;
    background: #895881;
    font-family: 'Montserrat', sans-serif;
}

.navbar-inverse, .navbar-inverse .navbar-toggle{
    border-color: #895881;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline;
}

.list-group-item>.badge{
    float: left;
    margin-right: 20px;
    font-size: 12px;
    background-color: #895881;
    width: 24px;
    padding: 6px 6px;
    border-radius: 24px;
}

.list-group-item>.badge.gray{
    background-color: #a1a1a1;
}

.list-group-item{
    padding: 5px 5px 20px 20px;
}

.list-group-item-heading{
    display: inline-block;
}

.list-group-item-completed{
    margin: 0;
}

.icons{
    padding: 0 0 20px;
    box-sizing: border-box;
}

.delete, .edit{
    float: right;
    font-size: 12px;
    margin-right: 10px;
}

.clear{
    float: right;
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
}

.check{
    float: left;
    margin-right: 20px;
    font-size: 18px;
}

.checked{
    padding-top: 20px;
}

.plus{
    margin: 20px auto;
    float: none;
    width: 60px;
    padding: 8px 40px 8px 13px;
    vertical-align: middle;
    background-color: #6ac9cd;
    border-radius: 50px;
    color: #ffffff;
    font-size: 40px;
}

.plus a{
    color: #ffffff;
}

.plus a:visited{
    text-decoration: none;
    color: #ffffff;
}

.plus a:hover{
    text-decoration: none;
    color: #895881;
}

.plus a:active, .plus a:focus{
    text-decoration: none;
    color: #895881;
}

#errorAlert {
    display:none;
}

#cancel{
    background: #ffffff;
    color: #6ac9cd;
    margin: 0 15px;
}

.btn-default{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: #6ac9cd;
}

.btn-default:hover{
    color: #a789a2;
}

.buttonlink:hover{
    text-decoration: none;
}

a, a:visited {
    color: #f36d38;
}

a:hover {
    color: #f36d38;
}

a:active {
    color: #f36d38;
}

.panel{
    margin-bottom: 0;
    margin-top: 20px;
}

.panel-title-completed{
    margin: 0 auto;
    font-size: 16px;
    display: inline-block;
}

.left-arrow{
    float: left;
}

.right-arrow{
    float: right;
}

.left-arrow, .right-arrow{
    font-family: 'Handlee', cursive;
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 10px;
}

.left-arrow:hover, .right-arrow:hover{
    text-decoration: none;
    color: #6ac9cd;
}

.strike{
    text-decoration: line-through;
}
