@import url(https://fonts.googleapis.com/css?family=Sacramento);

h1 {
    font-family: 'Sacramento', cursive;
}

.navbar{
    border-radius: 0;
    font-size: 18px;
    background: #895881;
}

.navbar-inverse{
    border-color: #895881;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline;
}

.list-group-item>.badge{
    float: left;
    margin-right: 20px;
}

.list-group-item{
    padding: 20px;
}

.delete{
    float: right;
    font-size: 18px;
}

.edit{
    float: right;
    font-size: 18px;
    margin-right: 10px;
}

#errorAlert {
    display:none;
}

.btn-default{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: #6ac9cd;
}

.btn-default:hover{
    color: #a789a2;
}

a, a:hover {
    color: #f36d38;
}
