extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap-datetimepicker.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out


    .container
      h2 Add a Task
      
      form#taskForm.col-md-4(class="taskForm", name="taskForm", action="/maker", method="POST")
        #errorAlert
          .alert.alert-danger(role='alert')
            span#errorMessage
        .form-group
          label(for="name") Task: 
          input.form-control#taskName(type="text", name="name", placeholder="Description")
        .form-group
          label(for="importance") Priority: 
          input.form-control#taskImportance(type="text", name="importance", placeholder="1-3, where 3 is highest priority")
        .form-group
          label(for="date") Due Date:
          #datetimepicker.input-append
            span.add-on
                input.form-control#taskDate(data-format='MM/dd/yyyy', type='text', name="date", placeholder="MM/DD/YYYY")
          
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        button.btn.btn-default#makeTaskSubmit(type='submit')  Add
        
        input(type="hidden")
        button.btn.btn-default#cancel(type='submit')  Cancel
        
block scripts
  script(src="/assets/bootstrap-datetimepicker.min.js")
  script(src="/assets/maker.js")
  script(src="/assets/datePicker.js")