extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container
    
      button.btn.btn-default#back(type='submit')  Back
      
      each day in calendar
          h3 #{day}
          br
            
      button.btn.btn-default#next(type='submit')  Next


block scripts
  script(src="/assets/calendar.js")
  
  
