extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/signup') Sign Up

      
    .container
      #errorAlert
        .alert.alert-danger(role='alert')
          span#errorMessage
          
      section#login
        form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
          .form-group
            label(for="username") Username: 
            input.form-control#user(type="text", name="username", placeholder="Username")
          .form-group
            label(for="pass") Password: 
            input.form-control#pass(type="password", name="pass", placeholder="Password")
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button.btn.btn-default#loginSubmit(type='formSubmit') Log in
    
      
block scripts
    script(src="/assets/client.js")