extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Pending
          ul.nav.navbar-nav.pull-right
            li
              a(href='/signup') Sign Up

      
    .container
      section#logo.col-md-6
        img(src='/assets/img/pendingicon.png', alt='')
      section#login.col-md-6
        #errorAlert
          .alert.alert-danger(role='alert')
            span#errorMessage
        h1 Pending
        p Pending is a to-do list application!
        br
        form#loginForm.col-md-10(class="mainForm", name="loginForm", action="/login", method="POST")
          .form-group
            label(for="username") Username: 
            input.form-control#user(type="text", name="username", placeholder="Username")
          .form-group
            label(for="pass") Password: 
            input.form-control#pass(type="password", name="pass", placeholder="Password")
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button.btn.btn-default#loginSubmit(type='formSubmit') Log in
          br
          br
          strong Already a member?  
          a(href='/signup') Sign Up
block scripts
    script(src="/assets/client.js")