extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.active(href='/display') Home
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile') Profile
            li
              a(href="/logout") Log out

      
    .container

      section#profile
        h2 Profile        
        .panel.panel-default
          .panel-heading
            h3.panel-title Account
          ul.list-group    
            li.list-group-item
              .form-group
                label(for="name") Name: 
                input.form-control(type="text", name="name", placeholder="#{profileInfo.name}" readonly)
              .form-group
                label(for="username") Username: 
                input.form-control(type="text", name="username", placeholder="#{profileInfo.username}" readonly)
                
          .panel-heading
            h3.panel-title Password
          ul.list-group
            li.list-group-item
               form#pwChangeForm(class="mainForm", name="pwChangeForm", action="", method="POST")
                  #errorAlert
                     .alert.alert-danger(role='alert')
                        span#errorMessage
                  .form-group
                     label(for="oldpass") Current Password: 
                     input.form-control#oldpass(type="password", name="oldpass", placeholder="Current Password")
                  .form-group
                     label(for="newpass") New Password: 
                     input.form-control#newpass(type="password", name="newpass", placeholder="Password")
                  .form-group
                     label(for="newpass2") Verify Password: 
                     input.form-control#newpass2(type="password", name="newpass2", placeholder="Verify password")
                  button.btn.btn-default#pwChangeSubmit.formSubmit(type='submit') Change Password
                  button.btn.btn-default#cancel(type='submit')  Cancel
                  
                  
                  a(href='/changePass') CHANGE PASS

block scripts
  script(src="/assets/maker.js")
  script(src="/assets/client.js")